---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import AIRoadmap from '../components/AIRoadmap.astro'
import Features from '../components/Features.astro'
import HowItWorks from '../components/HowItWorks.astro'
import Platforms from '../components/Platforms.astro'
import CTA from '../components/CTA.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="OpenPOS - The Intelligent Point of Sale">
  <Header />
  <main>
    <Hero />
    <AIRoadmap />
    <Features />
    <HowItWorks />
    <Platforms />
    <CTA />
  </main>
  <Footer />
</Layout>
